// importing scss file for Bruno
@import 'main.scss'
@import 'monitor'

*
  margin: 0
  padding: 0

html, body
  position: relative
  font-family: sans-serif

.colors
  position: fixed
  top: 0
  left: 0

.color
  display: inline-block
  height: 2vw
  width: 2vw


.color.black
  background-color: black
.color.red
  background-color: red
.color.green
  background-color: green
.color.blue
  background-color: blue
.color.yellow
  background-color: yellow


