@import 'main.scss'
@import 'monitor'
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

*
  margin: 0
  padding: 0

.colors
  position: fixed
  top: 0
  left: 0

.color
  display: inline-block
  height: 2vw
  width: 2vw


.color.black
  background-color: black
.color.red
  background-color: red
.color.green
  background-color: green
.color.blue
  background-color: blue
.color.yellow
  background-color: yellow


.load-button
  display: none
